<clickhouse>
    <display_name>clickhouse</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <prometheus>
        <endpoint>/metrics</endpoint>
        <port>9363</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
        <errors>true</errors>
    </prometheus>
    <logger>
                <level>debug</level>
                <log>/var/log/clickhouse-server/clickhouse-server.log</log>
                <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
                <size>1000M</size>
                <count>3</count>
    </logger>
    <s3>
        <sonic>
            <access_key_id>access_key_id</access_key_id>
            <secret_access_key>secret_access_key</secret_access_key>
            <endpoint>endpoint</endpoint>
        </sonic>
    </s3>
    <s3queue>
        <s3>
            <access_key_id>access_key_id</access_key_id>
            <secret_access_key>secret_access_key</secret_access_key>
            <endpoint>storage-endpoint</endpoint>
        </s3>
    </s3queue>
    <keeper_server>
      <tcp_port>2181</tcp_port>
      <server_id>1</server_id>
      <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
      <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

      <coordination_settings>
        <operation_timeout_ms>10000</operation_timeout_ms>
        <session_timeout_ms>30000</session_timeout_ms>
        <raft_logs_level>trace</raft_logs_level>
      </coordination_settings>

      <raft_configuration>
        <server>
            <id>1</id>
            <hostname>127.0.0.1</hostname>
            <port>9444</port>
        </server>
      </raft_configuration>
  </keeper_server>
</clickhouse>